.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.mywork .mywork-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 4rem;
}

.mywork .mywork-container img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.mywork .mywork-container img:hover {
  transform: scale(1.1);
  border: 3px solid var(--violet);
  border-radius: 0.4rem;
  transition: 0.3s;
}

.mywork .mywork-showmore {
  display: flex;
  justify-content: center;
}

.mywork .mywork-showmore a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 5rem;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 8rem;
  transition: 0.6s;
  cursor: pointer;
  color: var(--white);
}

.mywork .mywork-showmore button:hover {
  gap: 3rem;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .mywork {
    gap: 5rem;
  }

  .mywork .mywork-container {
    gap: 3rem;
  }

  .mywork .mywork-showmore a {
    margin: 5rem auto;
    font-size: 1.8rem;
  }
}
